/* -------------------------------------------------------------------------------- */
/* This document contains styling that applies to all pages */
/* This includes things such as the general structure of the page */
/* -------------------------------------------------------------------------------- */
html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-size: 20px;
    background-attachment: fixed;
}

/* Header */
header {
    width: 1100px;
    max-width: 90%;
    height: 150px;
    margin: auto;
    padding: 0;
    user-select: none;
    color: white;
    background: rgb(11, 11, 11);
    font-family: impact;
}
#logo {
    margin-left: 70px;
    line-height: 50px;
    height: 50px;
    margin: 50px 0 50px 70px;
    font-size: 50px;
    float: left;
    transform: skew(-25deg);
    background: -webkit-linear-gradient(left, rgb(255, 25, 25), rgb(0, 255, 255));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
}
#logoBar {
    width: 306px;
    height: 7px;
    position: absolute;
    float: left;
    margin-left: 60px;
    transform: skew(-20deg);
    top: 132px;
    background: linear-gradient(to right, rgb(255, 25, 25), rgb(0, 255, 255));
}

/* Small details at the top of the site which are not part of the header element */
#topBar {
    width: 100%;
    height: 35px;
    background: rgb(46, 46, 46);
}
#headerBorder {
    width: 100%;
    height: 8px;
    background: linear-gradient(to left, rgb(255, 25, 25), rgb(0, 255, 255));
}

/* The main section of the site where most of the content can be found */
main {
    max-width: 90%;
    width: 1100px;
    margin: auto;
    flex: 1;
    background-color: rgb(11, 11, 11);
}

#gameDescription {
    width: 40%;
    padding: 0 0 60px 0;
    margin: auto;
    color: white;
    background-color: rgb(11, 11, 11);
}

#gameDescription h2 {
    text-align: center;
}

/* -------------------------------------------------------------------------------- */
/* Footer */
/* -------------------------------------------------------------------------------- */

footer {
    width: 1100px;
    max-width: 90%;
    height: 100px;
    margin: auto;
    background: rgb(11, 11, 11);
    color: white;
    border-top: solid 1px rgb(8, 8, 8);
    overflow: hidden;
}
.footerContactSection {
    width: 50%;
    height: 100%;
    color: rgb(216, 216, 216);
    float: left;
    line-height: 100px;
    font-size: 1.25rem;
    text-align: center;
}
#mail:before {
    background: url("Images/Envelope.png");
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 21px;
    content: "";
    position: absolute;
    margin: 42px -40px 0 -35px;
}
#phone:before {
    background: url("Images/phone.png");
    background-position: center;
    background-size: cover;
    width: 22px;
    height: 22px;
    content: "";
    position: absolute;
    margin: 39px -40px 0 -30px;
}

/* Two different site configurations for different screen sizes */
@media screen and (max-width: 800px) {
    #largeScreenWrapper {
        display: none;
    }
    #smallScreenWrapper {
        display: block;
    }
}
