#gameContainer {
    width: 600px;
    height: 400px;
    margin: 30px auto;
}
#myCanvas {
    background: black;
    border: solid 2px rgb(255, 25, 25);
}


#resetButton,#gameOver {
    background: red;
    text-align: center;
    position: absolute;
    font-size: 30px;
    padding: 10px;
    background: black;
    border: solid 2px rgb(0, 255, 255);
    box-shadow: 0px 0px 5px 1px rgb(0, 255, 255);
    color: white;
    display: none;
}
#resetButton {
    width: 150px;
    left: calc(50% - 75px);
    top: 450px;
    cursor: pointer;
}
#gameOver {
    width: 270px;
    left: calc(50% - 135px);
    top: 380px;
}
#resetButton:hover {
    background: rgb(46, 46, 46);
}